body {
  margin-left: 30%; }
  body #boton-multipay {
    background: url("../images/btn_mp.gif") no-repeat;
    width: 166px;
    height: 50px;
    border: 0;
    /*		margin-left: 100px;*/ }
  body ul {
    list-style-type: none;
    text-align: none;
    color: green; }
